#container {
    text-align: center;
    maxWidth: 1920px;
    height: 900px;
    margin: 0 auto;
    border: 1px solid "#e6e6e6";
    padding: 40px 25px;
    font-family: 'Lato';


}

body {
   background-image: url(images/forestbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

}


